/*********************
SUGAR BOOGER CSS
*********************/
/****************
GENRAL
****************/

a{
  text-decoration: none;
  color: #fff;
}
a:hover{
  opacity: .5;
}
a:link,
a:visited{
  text-decoration: underline;
}
img{
  max-width: 95%;
}
ul{
  font-size: 1.5em;
}
h2{
  font-family: 'Caveat Brush', sans-serif;
  font-size: 1.225em;
  color: #fff;
  padding-top: 25px;
}
p{
  font-family: 'Caveat Brush', sans-serif;
  color: #fff;
}
.Shelby{
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo{
  width: 400px;
  height: auto;
}
/****************
HEADING
****************/
h1{
  margin: 15px 0;
  font-size: 5em;
}
h1, li{
    font-family: 'Caveat Brush', sans-serif;
}
/****************
PAGE: PORTFOLIO
****************/
.Baked_Goods, ul{
  margin:0;
  padding: 0;
  list-style: none;
}
.main-nav a {
	text-align: center;
	display: block;
	padding: 10px 15px;
}
/****************
COLOR
****************/
/*site body
Background color purple-pinkish
text color: grey*/
body{
  background: #ddc5e7;
  color: #999;
}
/****************
Modals
****************/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #fff; /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-body {
  display: flex;
  padding: 16px 16px;
}

/****************
MODALS DESIGN
****************/
.img01{
  justify-content: center;
}
/****************
MEDIA
****************/
@media (min-width: 769px) {

	.main-header,
	.main-nav,
	.Baked_Goods,
  .col{
		display: flex;
	}

	.main-header{
		flex-direction: column;
    justify-content: center;
		align-items: center;
	}

	.col {
		flex-direction: column;
		align-items: center;
		flex: 1 50%;
	}

	.Baked_Goods {
		flex-wrap: wrap;
	}

}

@media (min-width: 1025px) {

	.main-header {
    align-items: center;
		flex-direction: column;
    justify-content: space-between;
	}
	.col {
		flex-direction: column;
  	align-items: center;
		flex-basis: 0;
	}

}
