/*********************
SUGAR BOOGER CSS
*********************/
/****************
GENRAL
****************/

a{
  text-decoration: none;
  color: #fff;
}
img{
  max-width: 95%;
}
ul{
  font-size: 1.5em;
}
h2, h3, h4{
  font-family: 'Caveat Brush', sans-serif;
  font-size: 1.375em;
  text-decoration: underline;
  color: #fff;
}
p{
  font-family: 'Caveat Brush', sans-serif;
  color: #fff;
}
.Shelby{
  display: flex;
  align-items: center;
}
/****************
HEADING
****************/
h1{
  margin: 15px 0;
  font-size: 5em;
}
h1, li{
    font-family: 'Caveat Brush', sans-serif;
}
/****************
PAGE: PORTFOLIO
****************/
.Baked_Goods, ul{
  margin:0;
  padding: 0;
  list-style: none;
}
.main-nav a {
	text-align: center;
	display: block;
	padding: 10px 15px;
}
/****************
COLOR
****************/
/*site body
Background color purple-pinkish
text color: grey*/
body{
  background: #ddc5e7;
  color: #999;
}
/****************
MEDIA
****************/
@media (min-width: 769px) {

	.main-header,
	.main-nav,
	.Baked_Goods,
  .col{
		display: flex;
	}

	.main-header{
		flex-direction: column;
		align-items: center;
	}

	.col {
		flex-direction: column;
		align-items: center;
		flex: 1 50%;
	}

	.Baked_Goods {
		flex-wrap: wrap;
	}

}

@media (min-width: 1025px) {

	.main-header {
    align-items: center;
		flex-direction: column;
    justify-content: space-between;
	}
	.col {
		flex-direction: column;
  	align-items: center;
		flex-basis: 0;
	}

}
